.form {
  margin: 0 auto;
}

.form__fieldset {
  padding: 0;
  margin: auto;
  border: none;
}

.form__input {
  margin-top: 8px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding: 15px 20px 20px 15px;
  border-radius: 4px;
}
.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 0;
  border-radius: 2px;
  margin: 0;
}
.form__button {
  width: 100%;
  padding: 0;
  border: none;
  margin-bottom: 32px;
  height: 60px;
  background-color: #2f80ed;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border-radius: 4px;
}
.form__button:hover {
  opacity: 70%;
  transition: opacity 0.5s linear 0s;
}
